aoc2023.code-workspace
day1/puzzle1/target
day1/puzzle2/target
day2/puzzle1/target
day2/puzzle2/target
day3/puzzle1/target
day3/puzzle2/target
day4/puzzle1/target
day4/puzzle2/target
day5/puzzle1/target
day5/puzzle2/target
day6/puzzle1/target
day6/puzzle2/target
